* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}
header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}
header,
footer {
  background-color: #1e293b;
  color: whitesmoke;
}
header {
  top: 0;
}
nav {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}
main {
  flex-grow: 1;
}
footer {
  bottom: 0;
}

/* syntax for media queries 
@media media type and (condition:breakpoint) {
} */
/* different css frameworks have different breakpoints for different devices.
read the notes.md file*/
/* its recommended to build from a smaller device to a larger device*/

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media*/

/* || SMALL DEVICE */
@media screen and (min-width: 576px) {
  body {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green);
  }
  nav {
    display: none;
  }
}

/* || MEDIUM DEVICE */
@media screen and (min-width: 768px) {
  body {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold);
  }
}

/* || LARGE DEVICE */
@media screen and (min-width: 992px) {
  body {
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke, firebrick);
  }
}

/* || XL DEVICE */
@media screen and (min-width: 1200px) {
  body {
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  }
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  body {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue);
  }
  h1,
  h2 {
    font-size: 1.5rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  
} 
 here media queries is used to display the elements in dark mode */
