* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  height: 100vh;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
header,
footer {
  color: white;
  text-align: center;
  height: 100px;
}
header {
  font-size: 5rem;
  position: sticky;
  top: 0;
}
footer {
  font-size: 3rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
a:visited {
  color: white;
}
.social {
  background-color: orange;
  color: white;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1;
}
