* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url("../img/bubbles.png"),
    linear-gradient(to left, steelblue, white);
  background-repeat: repeat-y, no-repeat;
  background-position: right center;
  background-size: 20%, auto;
}
/* in the above properties the 1st value applies to the bubbles,
and the 2nd applies to gradient */
