* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility classes */
.nowrap {
  white-space: nowrap;
}
.offscreen {
  position: absolute;
  left: -10000px;
}
/* end utility classes */
body {
  min-height: 100vh;
}
.container {
  background-color: rgb(251, 210, 156); /* as a backup if image doesnt load */
  background-image: url("../img/map-2176x1451.png");
  background-repeat: repeat;
  /* background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-repeat: repeat-x; */
  background-position: center right;
  background-size: cover;
}
.hero {
  border-bottom: 2px solid black;
  padding: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  background-color: hsla(0, 0%, 0%, 0.35);
  /* this gives it an extra layer of filter to lighten 
  or darken the background image */
}
.h1 {
  font-size: 500%;
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
}
.profile-pic-figure {
  width: 35%;
}
.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.example {
  margin-top: 1rem;
  padding-left: 1rem;
  border: 1px solid red;
}
.example img {
  width: 25%;
  height: auto;
}
img {
  display: block;
}
/* image is an inline element and a gap is visible at 
the bottom of the image. so to remove this gap we set display to block. */
