html {
  font-size: 22px;
}
body {
  background-color: #333;
  color: whitesmoke;
}
a {
  color: rgb(22, 133, 230);
}
a:visited {
  color: rgb(230, 230, 51);
}
a:hover,
a:active {
  color: lightgreen;
}
table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
